/* Global Styles */
footer,
nav {
  background: #A66A5E;
  color: #F6E1DC;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #FF6F00;

  img {
    height: 40px;
    margin-left: 20px;
  }
}

.main-content {
  margin-top: 60px;
  min-height: calc(100vh - 110px);
  padding: 60px 70px;
  background-color: #F6E1DC;
  color: #333;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.dropdown-item {
  color: #F6E1DC;

  &:hover,
  &:focus {
    background-color: #FF6F00;
    color: #F6E1DC;
  }
}

.navbar-nav li {
  margin: auto 15px;
}

.navbar {
  padding: 0 60px;
  z-index: 1000;
}

.nav-link {
  cursor: pointer;
  color: #F6E1DC;
}

.pull-right {
  margin-right: 20px;
}

.footer {
  margin-top: 28px;
  padding: 20px 70px;
  background-color: #A66A5E;
  color: #F6E1DC;
  text-align: center;
  border-top: 2px solid #FF6F00;

  a {
    color: #F6E1DC;

    &:hover {
      color: #FF6F00;
      text-decoration: none;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .main-content {
    padding: 20px 50px;
  }

  .footer {
    padding: 5px 30px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  .main-content {
    padding: 10px 20px;
  }

  .footer {
    padding: 5px 20px;
  }
}

.navbar-toggler {
  margin-right: 20px;

  &:focus {
    outline: none;
  }
}

.navbar-collapse,
.dropdown-menu {
  background: #A66A5E;
  min-width: 0;
}

.dropdown-divider {
  border: 1px solid rgba(246, 225, 220, 0.5);
  margin: 0.5rem 15px;
}

.dropdown-menu-right {
  margin-bottom: 0.5rem;
}

button.bg-transparent.btn.btn-link.nav-link:active {
  color: #F6E1DC !important;
}
